

@media (max-width: 767px) {
  .NotificationError_message__vS2mP {
    margin-bottom: 29px;
  }
}
.NotificationError_button__oP0LB {
  width: 240px;
  height: 42px;
  border-radius: 25px;
  border: 1px solid #36f;
  background-color: #fff;
  font-weight: 700;
  text-align: center;
  color: #36f;
}
.NotificationEmpty_notificationEmpty__uOAa6 {
  padding: 25px 0 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  color: #333;
}
.NotificationEmpty_notificationEmpty__uOAa6 > svg {
  margin: 17px 0;
}
@media (max-width: 767px) {
  .NotificationEmpty_notificationEmpty__uOAa6 {
    padding: 63px 0 0;
  }
}













.MaintenancePopUp_Maintenance___gh6o {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1600;
}
.MaintenancePopUp_Maintenance___gh6o > div {
  position: relative;
  max-width: 400px;
  width: calc(100% - 40px);
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.MaintenancePopUp_Maintenance___gh6o > div > div {
  padding-bottom: 100%;
  height: 0;
  width: 100%;
  display: block;
}
.MaintenancePopUp_Maintenance_close__cHJg7 {
  position: absolute;
  right: 0;
  z-index: 2;
}
.MaintenancePopUp_Maintenance_close__cHJg7 svg {
  margin-top: 14px;
  margin-right: 14px;
}
.MaintenancePopUp_Maintenance___gh6o img {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #f8f8f8;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}
body:lang(ja-JP) {
  font-family: Pretendard JP, Pretendard, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}
body:lang(en) {
  font-family: Pretendard Std, Pretendard, Pretendard JP, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}

