.board_body{
    margin: 0 auto;
    width:70%;
    
}
.container{
    background-color: white;
}

.List_container {
    margin-top: 8px;
    position: relative;
    width: 1060px;
    margin: 0 auto;
}

.eventItems_list{
    margin: 0 -10px;
}


.eventItems_list_a {
    float: left;
    width: calc(25% - 20px);
    border: 1px solid #ececec;
    border-radius: 5px;
    margin: 0 10px 20px;
}

.eventItems_list_alink{
    display: block;
}

.eventItems_img_list{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: 50%;
    background-size: cover;
    display: block;
    background-image: url("https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fevents%2F2477%2F6036b8e1.jpg&w=1200&q=75");
}

.eventItems_body{
    position: relative;
    padding: 20px;
    height: 179px;
    border-top: 1px solid #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.eventItems_kinds{
    display: inline-flex;
    margin-bottom: 8px;
}

.eventkinds_epilogue{
    border-color: #1c1c1c;
    background-color: #1c1c1c;
    margin-right: 5px;
    color: #fff;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20px;
    border: 1px solid;
    border-radius: 2px;
}

.eventItem_title{
    position: relative;
    height: 50px;
    word-wrap: break-word;
    font-size: 18px;
    font-size: calc(18/var(--base-font-size)*1rem);
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4;
    font-weight: 600;
}

.board_confirm{
    display: block;
    background-color: white;
}

.eventItem_title_period{
    position: absolute;
    left: 20px;
    bottom: 45px;
    width: calc(100% - 40px);
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 12px;
    color: #767676;
}

.eventCategories{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin-top: 5px;
    height: 20px;
    width: calc(100% - 40px);
}

.eventCategories_tags{
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.67;
    color: #333;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}